@import "tailwindcss";

@theme {

      --color-primary: #9333ea;
      --color-secondary: #570cac;
      --color-accent: #0ea5e9;
      --color-action: #f97316;
      --color-background: #f8fafc;
      --color-text: #1e293b;
      --color-surface-dark: #111a3e;
      --color-gold: #facc15;
}

body,
html {
      margin: 0;
      padding: 0;   
}